/* color */
$black-color: #000;
$white-color: #fff;
$dark-mode: #2e3746;
$light-mode: #f5faff;
$red-color: #f00;
$yellow-color: #eedc3d;
$green-color: #18e605;
$gray-color: #eee;
$gray-dark-color: #999;
$blue-primary: #018dff;
$bg-primary-color: #2f354a;
$bg-primary-light-color: #535f88;
$bg-secondary-color: #ffffffcc;
$blue-light-primary: #76b7ec;

/* font */
$default-font-size: 1.5rem;

/* grid */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;
